page-home {
    .content{
        // background-color:rgb(3, 49, 56);;
    }
.titleRow{
    border:1px solid black;
    border-radius:2px;
    padding:2px;
    font-size: 1.2em; 
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(247, 128, 134);
    
}

}
